.idea/
.vscode/
.env
.env.*
!.env.example
*.log

# Java/Maven
**/target/
*.class
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.project
.classpath

# Node/Vite
**/node_modules/
**/dist/

# OS files
Thumbs.db
.DS_Store
marketbrain-service/bin/.settings/org.eclipse.jdt.apt.core.prefs
marketbrain-service/bin/.settings/org.eclipse.jdt.core.prefs
marketbrain-service/bin/.settings/org.eclipse.m2e.core.prefs
